# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python environment files
.env

# Unnecessary files
data/src/
test_data.py